<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d1788afb-2254-4f5f-8826-94750f6da544/resourceGroups/AZ-JHB-RSG-VCGPSD-ST10079848-TER/providers/Microsoft.Web/sites/CLOUDPART320230625161152222</ResourceId>
    <ResourceGroup>AZ-JHB-RSG-VCGPSD-ST10079848-TER</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cloudpart320230625161152222.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>cloudpart320230625161152222.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CLOUDPART320230625161152222</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$CLOUDPART320230625161152222</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=lesedi-st10079848.database.windows.net;Initial Catalog=ST10079848Lesedi;Persist Security Info=True;User ID=LesediMaela;Password=Loansome49;Multiple Active Result Sets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CLDVPOEPART3.Models.ApplicationDbContext, CLDVPOEPART3" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ST10079848LesediEntities2000" Order="2" Enabled="False">
          <Destination Path="Data Source=lesedi-st10079848.database.windows.net;Initial Catalog=ST10079848Lesedi;Persist Security Info=True;User ID=LesediMaela;Password=Loansome49;Multiple Active Result Sets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CLDVPOEPART3.Models.ST10079848LesediEntities2000, CLDVPOEPART3" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ST10079848LesediEntities200" Order="3" Enabled="False">
          <Destination Path="Data Source=lesedi-st10079848.database.windows.net;Initial Catalog=ST10079848Lesedi;Persist Security Info=True;User ID=LesediMaela;Password=Loansome49;Multiple Active Result Sets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=lesedi-st10079848.database.windows.net;Initial Catalog=ST10079848Lesedi;Persist Security Info=True;User ID=LesediMaela;Password=Loansome49;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ST10079848LesediEntities200_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.RideYouRentModels20.csdl|res://*/Models.RideYouRentModels20.ssdl|res://*/Models.RideYouRentModels20.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lesedi-st10079848.database.windows.net;initial catalog=ST10079848Lesedi;persist security info=True;user id=LesediMaela;password=Loansome49;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ST10079848LesediEntities2000-Web.config Connection String">
      <ParameterValue>Data Source=lesedi-st10079848.database.windows.net;Initial Catalog=ST10079848Lesedi;Persist Security Info=True;User ID=LesediMaela;Password=Loansome49;Multiple Active Result Sets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ST10079848LesediEntities200-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.RideYouRentModels20.csdl|res://*/Models.RideYouRentModels20.ssdl|res://*/Models.RideYouRentModels20.msl;provider=System.Data.SqlClient;provider connection string="data source=lesedi-st10079848.database.windows.net;initial catalog=ST10079848Lesedi;persist security info=True;user id=LesediMaela;password=Loansome49;multiple active result sets=True;application name=EntityFramework;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=lesedi-st10079848.database.windows.net;Initial Catalog=ST10079848Lesedi;Persist Security Info=True;User ID=LesediMaela;Password=Loansome49;Multiple Active Result Sets=True;Application Name=EntityFramework</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>